.header{
    background: #090357;
}
.header a{
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

#carouselExampleIndicators{
    margin-top: 0px;

}

/* OUR RESENT PROJECTS */
.home-project{
    background: #666;
    text-align: center;
    margin: 0px;
    padding: 10px 0px 20px 0px;

}
.recentProjHeader{
    
    color: black;
    padding-top: 10px;
}

#recentrow{
    padding: 10px 20px 10px 10px;
    margin: 10px 20px 10px 10px;
    
}
#moreProject{
    text-align: center;
}

/* OUR VISION AND MISSION */

.home-vision{
    background: whitesmoke;
    padding: 10px 0px 10px 0px;
}

/* VISION AND MISSION */
.home-vision .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.home-vision .box-container .box .content{
    padding:2rem;
    text-align: center;
    border-left: 4px solid red;
    margin-left: 2px;

}

.home-vision .box-container .box .image img{
    border-radius: 50%;
    height: 60px;
    width: 60px; 
    padding-bottom: 20;

}


/************* FOOTER ****************/
#footerall{
    background-color: #090357;
    color: white;
    

}

#footercol{
    padding: 5px;
}

#booterbar{
  text-align: center;
}

/*------------------ CONTACT FORM */
.contact{
    background-image:url("/static/media/contact-img.jpg") 50% 0 no-repeat fixed;
     
}
.contact .container{
    background-color: aquamarine;
}


