{% extends "construction/index.html" %}
{% block content %}
<h1>YOU KNOW ABOUT US?</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci excepturi, beatae maxime non at animi eligendi vel necessitatibus veritatis distinctio fuga quod quaerat iure cupiditate alias autem consectetur! Dolores?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci excepturi, beatae maxime non at animi eligendi vel necessitatibus veritatis distinctio fuga quod quaerat iure cupiditate alias autem consectetur! Dolores?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci excepturi, beatae maxime non at animi eligendi vel necessitatibus veritatis distinctio fuga quod quaerat iure cupiditate alias autem consectetur! Dolores?</p>
{% endblock %}