<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MR Construction Services</title>
      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  </head>
  <body>

    <!------------------------ NAVEBAR ----------->
    <nav class="navbar navbar-expand-lg" id="navbarcolor">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MR CONSTRUCTION SERVICES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contect' %}">Contect</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

          <!---------- SLIDESHOW ------->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <img src="{% static 'media/pic.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'media/status.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'media/best story1.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!------ OUR RESENT PROJECTS -->

    <h1 class="recentProjHeader">Our Recent Projects</h1>
    <div id="recentrow" class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'media/status.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'media/status.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'media/status.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <!------------------ OUR VISION AND MISSION -->

    <h1 id="vision">Our Vision and Mission</h1>
    <div id="visionrow" class="row">
      <div id="visioncol" class="col-md-6">
        <img id="visionimg" src="{% static 'media/irfan.png' %}" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam veniam 
          provident corrupti voluptas non libero molestiae dicta tempora amet? Maiores 
          amet vitae nam voluptatem quisquam assumenda exercitationem, a soluta illo.</p>
      </div>
      <div id="visioncol" class="col-md-6">
        <img id="visionimg" src="{% static 'media/irfan.png' %}" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisiing elit. Totam veniam 
          provident corrupti voluptas non libero molestiae dicta tempora amet? 
          Maiores amet vitae nam voluptatem quisquam assumenda exercitationem, 
          a soluta illo.</p>
      </div>
    </d2iv>

    <!--------------- FOOTER --------->

    <footer id="footerall">
      <div id="footer row" class="row">
        <div id="footercol" class="col-md-4">
          <h3 id="nameinfooter">  MR CONSTRUCTION SERVICES</h3>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div id="footercol" class="col-md-4">
          <h3 id="nameinfooter">Chick The Links</h3>
          <br>
          <ul>
            <li>
              <a href="https://google.com">Go To Google </a>
            </li>
            <li>
              <a href="https://github.com">Go To Github</a>
            </li>
            <li>
              <a href="https://youtube.com">Go To Youtube</a>
            </li>
          </ul>
        </div>
        <div id="footercol" class="col-md-4">
          <h3 id="nameinfooter">Our Services</h3>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente hic impedit deleniti expedita consequuntur veritatis ut facilis? Error, debitis? Magni dicta cupiditate repellendus quos doloribus iure deleniti amet minima velit.</p>
        </div>
      </div>

      <div id="booterbar" class="container">
        <hr>
        <p>all rigth reserved by MR Construction</p>
      </div>

   </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>