{% extends "construction/index.html" %}
{% load static %}

{% block content %}
<!------ OUR RESENT PROJECTS -->
<section class="home-project">
    <h1 class="recentProjHeader">Our More Projects</h1>
    <div id="recentrow" class="row">
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img src="{% static 'media/card-img-1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img src="{% static 'media/card-img-1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img src="{% static 'media/card-img-1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">card-img-1.jpg</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <!-- SECOND LINk -->

    <div id="recentrow" class="row">
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img src="{% static 'media/card-img-1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img src="{% static 'media/card-img-1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 20rem;">
            <img src="{% static 'media/card-img-1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">card-img-1.jpg</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <a id="moreProject" class="btn btn-primary" href="{% url 'projects' %}">More Projects</a>
  </section>
{% endblock %}